*{
    margin: 0;
    padding: 0;
}
body{
    text-align:justify;
}
ul li{
margin-top: 1%;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 150%;
  border: 1px solid black;
  empty-cells:hide;
}
caption{
    display: table-caption;
    text-align: left;
    color: blueviolet;
}
th, td {
  text-align: center;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #9e9a9a;
}
.responsive{
    overflow-x: auto;
}
